#todo{
	margin:auto;
	display:table;
	overflow-x:scroll;
	width:630px;
	float:left;
}
body{
	background-color: #EEE;
}
#code{
	width:200px;
	float:left;
	height: 430px;
	
}
#console1{
	width:300px;
	height:300px;
	margin-left:6px;
	float:left;
}
#console2{
	position: relative;
	width:auto;
	height:50px;
	float:left;
}
#console3{
	width:400px;
	margin-left:6px;
	display:inline-table; 
}
#Reg,#Flag{
	color:#00008B;
	float:left;
	width:300px;
	margin-left:5px;
	padding:5px;
	font-size: 70%;
	border: 1px solid blue;
	font-weight: bold;
}
#Flag{
	width:35px;
}
#Registradores{
	width: 320px;
	display: inline-block;
	float:left;
}
#Estados{
	width:35px;
	float:left;
}
#titulo{
	border:1px solid #0F7FF0;
	padding:4px;
	margin:3px;
	font-size:90%;
	text-align:center;
	color:#0F7F7F;
}
.opcode{
	color:#00008B;
	font-size:90%;
	height:207px;
	width:145px;
	float:left;
	margin-left:4px;
}
.float_esq{
	float: left;
}
.code{
	background-color: #FFF8DC;
	font-family:Lucida Console;
	font-size:80%;
	height:470px;
	border:1px solid black;
	padding:5px;
}
.erros{
	background-color: #FFF;
	font-family:verdana;
	color:#E00;
	font-size:80%;
	border:1px solid blue;
	width:500px;
}
#linha{
	width:60px;
}
#linhas{
	width:20px;
	float:left;
	height:450px;
	overflow:hidden;
	font-family:Verdana;
	font-size:80%;
	margin-top:37px;
	margin-right:3px;
	direction: rtl;
	background-color: #FFE;
	padding:2px;
}
#ajuda{
	width:800px;
	margin:auto;
	margin-bottom: 40px;
	
}
#ajuda_menu{
	position:fixed;
	top:0;
	width:100px;
	padding:8px;
	text-align:center;
}
#controles{
	width:100px;
	margin:10px;
	margin-top: 50px;
	position:relative;
	float:left;
}
#controles button{
	margin-top: 5px;
	width: 100%;
}
#page{
	width: 900px;
	margin: auto;
}